#!/usr/bin/env bash
set -euxo pipefail

apt-get update
apt-get install -y docker.io docker-compose-plugin git
systemctl enable --now docker

mkdir -p /opt
if [ -d /opt/hyperswitch ] && [ ! -d /opt/hyperswitch/.git ]; then
  rm -rf /opt/hyperswitch
fi
if [ ! -d /opt/hyperswitch ]; then
  cd /opt
  git clone ${hyperswitch_repo}
fi

cd /opt/hyperswitch
git fetch --all
git checkout ${hyperswitch_ref}
docker compose up -d
